.App {
  text-align: center;
  color: black;
  font-family: "Special Elite", cursive;
}

.App .component {
  padding: 50px;
  max-width: 900px;
  max-height: 700px;
  margin: 0 auto;
  margin-right: 400px;
}

.App header {
  padding: 15px;
  font-size: 40px;
}

.App footer {
  font-size: 12px;
  margin-top: 50px;
}

.App .bookImage {
  max-width: 600px;
}
